body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3rem;
}

.container h2 {
  text-align: center;
}

.qrcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  text-align: center;
}

form div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

input {
  padding: 1rem;
  font-size: 16px;
  background-color: #f4f4f4;
  border: none;
  width: 300px;
  border-radius: 10px;
}

button {
  margin-top: 1rem;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 157, 255, 0.793);
  border: none;
}

button:hover {
  transform: scale(1.05);
  background-color: black;
  transition: 0.5s ease-in-out;
}

.qrInnercont {
  margin-left: 20px;
}
.qr-code-container{
  text-align: center;
  min-width: 300px;
  padding: 1rem;
}


@media (max-width: 768px) {
  .qrcontainer {
    flex-direction: column;
    justify-content: space-between;
  }

  .qrInnercont {
    margin-top: 0;
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
   form{
    width: 280px;
    margin-left: 1rem;
   }
}

.qr-upload-container {
  text-align: center;
  padding: 20px;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  width: 300px;
  height: 90px;
  margin: 2rem auto;
  cursor: pointer;
}

.drop-area input[type="file"] {
  display: none;
}

.drop-area:hover {
  border-color: #aaa;
}
.uppic{
  color: rgb(14, 131, 249);
  font-weight: 600;
  padding-left:5px ;
  text-decoration: underline;
}
.uppic:hover{
  color: #00b3ff;
}
.picbtn{
  background-color: #4d828e;
}
.picbtn:hover{
  transform: none;
  background-color: #23505a;
}

.qr-upload-container {
  text-align: center;
  padding: 20px;
}

.picbtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}

.upload-label {
  cursor: pointer;
  display: inline-block;
}

.drop-area input[type="file"] {
  display: none;
}

.drop-area:hover {
  border-color: #aaa;
}
