body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3rem;
}

.container h2 {
  text-align: center;
}

.form-qr-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  text-align: center;
}

form div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

input {
  padding: 1rem;
  font-size: 16px;
  background-color: #f4f4f4;
  border: none;
  width: 300px;
  border-radius: 10px;
}

button {
  margin-top: 1rem;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 157, 255, 0.793);
  border: none;
}

button:hover {
  transform: scale(1.05);
  background-color: black;
  transition: 0.5s ease-in-out;
}

.qr-container {
  margin-left: 20px;
}
.qr-code-container{
  text-align: center;
  min-width: 300px;
  padding: 1rem;
}


@media (max-width: 768px) {
  .form-qr-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .qr-container {
    margin-top: 0;
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
   form{
    width: 280px;
    margin-left: 1rem;
   }
}


